extends layout

block content
	div.messages
		div
			p.bold Welkom op de chat!

	form(method='post', class='form')
		input(type='text', value='', placeholder='Type your message..', class='textfield')
		input(type='submit', value='Send', class='btn')