extends layout

block content
	div.messages
		p Hello
		p Anyone here?
		p Yes, i'm here!
		p Nice, thought I was alone :'(
		p Oh thats great enzo
		p Well see you later
	
	input(type='text', value='Hello everyone!', class='textfield')
	input(type='submit', value='Send', class='btn')
